@media only screen and (max-width: 1200px){
		.main-menu .navigation > li{
		margin-left:20px;	
	}
	
}

@media only screen and (max-width: 1140px){
	
	.main-header{
		position:relative;
		margin:0px !important;
	}
	
	.main-menu .navigation > li{
		margin-left:20px;	
	}
	

	.text-banner .text{
		font-size:28px;
	}
	
	.main-slider h1{
		font-size:30px;
	}
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-header .nav-outer{
		width:100%;
	}
	
	.main-menu .navigation > li{
		margin-left:0px;
		margin-right:25px;
		
	}
	
	
	
	.main-slider h2{
		font-size:30px;
	}
	
	.main-slider h1{
		font-size:25px;
	}
	
	.main-slider .text{
		font-size:12px;
	}
	
	
	.header-style-two .main-menu .navigation > li.dropdown > a{
		padding-right:0px;
	}
	
	
}

@media only screen and (max-width: 767px){
	
	
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:20px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:12;
		border:1px solid #0d4646;
		float:none;
		margin:-5px 0px 0px 0px;
		border-radius:0px;
		background:#15becd;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#2c2c2c;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-weight:500;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#2c2c2c;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid #209191 ;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
.main-menu .navbar-collapse > .navigation > li > ul > li{
	border-top:1px solid #0bdccba9 ;
}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#15becd;
		text-align:left;
		font-size:14px;
	}
	
.main-menu .navbar-collapse > .navigation > li > ul > li > a{
	background:#15becdd3;
	padding:12px 30px 10px !important;
}	
	
	
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#15becd;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#2c2c2c;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-slider .big-title{
		font-size:36px;
	}
	
	.main-header .nav-outer{
		padding-right:0px;
	}
	
	
	.main-slider h2{
		font-size:26px;
	}
	
}

@media only screen and (max-width: 599px){
	
	.main-slider .big-title{
		font-size:30px;
	}
	
	.main-slider h2:after,
	.main-slider .slider-content .text br{
		display:none;
	}
	
	.main-slider h2{
		font-size:20px;
		padding-bottom:0px;
	}
	
	.main-slider .text{
		font-size:14px;
		line-height:1.4em;
	}
	
	.main-slider h1,
	.comment-form .group-title h2{
		font-size:24px;
	}
	
	
	
}

@media only screen and (max-width: 479px) {
	
	.main-slider .big-title{
		font-size:24px;
	}
	
	.main-slider h2{
		line-height:1em;
	}
	
	.main-slider .text{
		font-size:7px;
		line-height:1.3em;
	}
	
	
	
	.main-slider h1{
		font-size:12px;
		padding-bottom:0px;
	}
	
	.main-slider h1:after,
	.header-top-three .top-left{
		display:none;
	}
	
	.main-slider .medium-title{
		font-size:24px;
	}
	
	
	
}






@media only screen and (max-width:768px) {
.banner_btn {
	font-size:12px
}

}









